
@import './../variables/general.scss';
.display-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 36px;
    margin: 48px 24px;
}
.display-img {
    width: 600px;
    height: 450px;
    object-fit: cover;
    object-position: top;
    box-shadow: 0px 2px 6px rgba(54, 26, 11, 0.15);
    border-radius: 7px;
}

.display-info-cont {
    position: relative;
    width: 450px;
    min-height: 200px;
    padding: 24px;
    
    background-color: $cream;
    box-shadow: 0px 2px 6px rgba(54, 26, 11, 0.15);
    border-radius: 7px;
    
    .display-header {
        margin-bottom: 16px;
    }

    .display-links {
        img {
            margin-left: 21px;
        }
    }

    .display-descript {
        margin-bottom: 72px;
    }
    .tech-used {
        position: absolute;
        bottom: -30px;
        color: $detailText;
    }
}

.read-more-link {
    position: absolute;
    bottom: 24px;
    color: $link;
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: $lg) {

    
}