// font imports =========================================================
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

// page + variable scss imports ====================================================
@import './index.scss';
@import './about.scss';
@import './works.scss';

@import './variables/general.scss';

// component scss imports ===============================================
@import './components/navbar.scss';
@import './components/footer.scss';


// remove defaults ======================================================
* {
  margin: 0;
  padding: 0;
}

html { 
  overflow-x: hidden;
  background-color: $cream; 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body { 
  max-width: 1400px;
  width: 100%;
}

// text styleguide ======================================================
h1, h2, h3, h4, h5, h6, nav a { 
  font-family: 'Lora', serif; 
  font-weight: 400;
  color: $darkbrown;
}
p, a, label, button, input[type="button"] { 
  font-family: 'Inria Sans', sans-serif;
  color: $darkbrown;
}

h1 { font-size: 96px; }
h2 { font-size: 48px; }
h3 { font-size: 40px; }
h4 { font-size: 36px; }
h5 { font-size: 24px; }
h6 { font-size: 20px; }

p, a, label, button, input[type="button"] 
{ font-size: 16px; }